<div class='mt-4 ml-5 mr-3'>
    <h3>Sửa mặt hàng</h3>

    <form method='POST' action='/products/{{product.product_id}}?_method=PUT' onsubmit="return validateForm()">
        <div class='form-label'>
            <label for='name'>Mặt hàng</label>
            <input type='text' class='form-control' id='name' name='name' value='{{product.name}}'/>
        </div>

        <div class='form-label'>
            <label for='manufacture_date'>Ngày sản xuất </label>
            <input
                type='text'
                class='form-control'
                id='manufacture_date'
                name='manufacture_date'
                placeholder='dd/mm/yyyy'
                value='{{product.manufacture_date}}'
            />
        </div>

        <div class='form-label'>
            <label for='expiration_date'>Hạn sử dụng </label>
            <input
                type='text'
                class='form-control'
                id='expiration_date'
                name='expiration_date'
                placeholder='dd/mm/yyyy'
                value='{{product.expiration_date}}'
            />
        </div>

        <div class='form-label'>
            <label for='quantity'>Số lượng</label>
            <input type='number' class='form-control' id='quantity' name='quantity' value='{{product.quantity}}'/>
        </div>

        <div class='form-label'>
            <label for='unit'>Đơn vị</label>
            <input type='text' class='form-control' id='unit' name='unit' value='{{product.unit}}' />
        </div>

        <button type='submit' class='btn btn-primary mt-4'>Sửa</button>
    </form>
</div>

<script src="../../../public/scripts/create-product-form-validation.js"></script>
